body {
  background-image: linear-gradient(to top, #a8edea 0%, #fff 100%);
}

h1 {
  color: #822659;
  padding-top: 10px;
  padding-bottom: 20px;
}
ul {
  list-style-type: none;
}

p {
  color: #822659;
  text-align: center;
  font-family: monospace;
}

.currCity {
  color: #0a043c;
  border-color: black;
  font-size: 32px;
  font-weight: 700;
}

#currTemp {
  color: #0a043c;
  border-color: black;
  font-size: 32px;
  font-weight: 700;
}

.celsius:hover {
  cursor: pointer;
}

.fahrenheit:hover {
  cursor: pointer;
}

.preview {
  font-size: 20px;
  text-align: center;
  padding-left: 10px;
}

.small {
  color: #03506f;
  border-color: #a3ddcb;
  background-color: #a3ddcb;
  margin-top: 10px;
}
.day,
.temp {
  font-size: 28px;
}

.day {
  color: #0a043c;
}

.date {
  font-size: 24px;
}

.on {
  color: #03506f;
  font-weight: bold;
  cursor: pointer;
}

.on:hover {
  text-decoration: none;
}

.weather-min {
  opacity: 0.5;
}
